<header class="header"> Sharing Content on Whatsapp && Linkedin</header>
<div class="content">
Sharing content on social apps is one of the necessities of today's web applications or single-page applications. In this template, I am going to share how can we post content on Facebook and Twitter applications.
<br>
<br>
Below you can see we have Whatsapp & Twitter icons click on them you will navigate to a corresponding application(Whatsapp & Linkedin).
</div>
<div class="main">
  <app-share-button
    type='whatsapp'
    [shareUrl]='link'>
  </app-share-button>
  <br>
  <app-share-button
    type='linkedin'
    [shareUrl]='link'>
  </app-share-button>
</div>
